<!--<div class="rearrangement-wizard">
  <wizard #wizard navBarLayout="large-empty-symbols" class="height-100">
    <wizard-step class="height-100" stepTitle="" navigationSymbol="" navigationSymbolFontFamily="icomoon">
      <div class="footer-wizard text-right">
        &lt;!&ndash;  <button type="button"  class="btn btn-primary" nextStep>Continue</button>&ndash;&gt;
      </div>
    </wizard-step>
    <wizard-step class="height-100" stepTitle="" navigationSymbol="" navigationSymbolFontFamily="icomoon">
      <div class="footer-wizard text-right">
        <button type="button" class="btn btn-primary" previousStep>Back</button>
        <button type="button" class="btn btn-primary" nextStep>Continue</button>
      </div>
    </wizard-step>
    <wizard-step class="height-100" stepTitle="" navigationSymbol="" navigationSymbolFontFamily="icomoon">
      <div class="footer-wizard text-right">
        <button type="button" class="btn btn-primary" previousStep>Back</button>
        <button type="button" class="btn btn-primary" nextStep>Continue</button>
      </div>
    </wizard-step>
    <wizard-step class="height-100" stepTitle="" navigationSymbol="" navigationSymbolFontFamily="icomoon">
      <div class="footer-wizard text-right">
        <button type="button" class="btn btn-primary" previousStep>Back</button>
        <button type="button" class="btn btn-primary" nextStep>Continue</button>
      </div>
    </wizard-step>
    <wizard-step class="height-100" stepTitle="" navigationSymbol="" navigationSymbolFontFamily="icomoon">
      <div class="footer-wizard text-right">
        <button type="button" class="btn btn-primary" previousStep>Back</button>
        <button type="button" class="btn btn-primary"  (click)="success($event)">Continue</button>
      </div>
    </wizard-step>
  </wizard>
</div>-->
