<div id="step-indicator"  class="container step-indicator">
  <ul  class="nav nav-tabs">
    <li>
      <a routerLink="caselist"  ui-sref="caselist" aria-controls="case_list"
         role="tab" class="hvr-underline-from-center">
        <div>Case List</div>
      </a></li>
    <li ><a routerLink="imagList"  ui-sref="caselist" aria-controls="case_list"
           role="tab" class="hvr-underline-from-center">
      <div>Summary</div>
    </a></li>
    <li><a routerLink="imagList"  ui-sref="caselist" aria-controls="case_list"
           role="tab" class="hvr-underline-from-center">
      <div>Screening</div>
    </a></li>
    <li><a routerLink="imagList"  ui-sref="caselist" aria-controls="case_list"
           role="tab" class="hvr-underline-from-center">
      <div>Web Research</div>
    </a></li>
    <li><a routerLink="imagList"  ui-sref="caselist" aria-controls="case_list"
           role="tab" class="hvr-underline-from-center">
      <div>Application Review</div>
    </a> </li>
    <li><a routerLink="imagList"  ui-sref="caselist" aria-controls="case_list"
           role="tab" class="hvr-underline-from-center">
      <div>Resolutions</div>
    </a></li>
  </ul>
</div>
